@media(max-width:768px){
    .contain{
        max-width: 100%;
    }
    header{
        display: block;
    }
    header img{
        content: url("https://fakeimg.pl/150x150/");
        margin-bottom: 20px;
        margin-left:auto;
        margin-right:auto;
    }
    nav ul{
        max-width: 336px;
        flex-wrap: wrap;
        margin-left:auto;
        margin-right:auto;
    }
    nav ul li a{
        width: 168px;
        text-align: center;
        margin-bottom: 10px;
    }

    main{
        display: block;
    }
    .headLines{
        margin-bottom: 20px;
    }
    .banner{
        max-width: 768px;
    }
    .banner li img{
        margin-left:auto;
        margin-right:auto;
    }
}