*,*::before,*::after{box-sizing: border-box;}
a{text-decoration: none;}
img{display: block; max-width: 100%; height: auto;}

.contain{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}


/*header*/
header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 24px;
}
nav ul{
    display: flex;
}
nav ul li a{
    display: block;
    background: #3399ff;
    color: white;
    font-weight: bold;
    padding: 10px;
}
nav ul li a:hover{
    background: #ffbb00fd;
}

/*main*/
main{
    display: flex;
    justify-content: space-between;
}

.headLines{
    max-width: 72.75%;
    border: 2px solid #000;
    padding: 10px;
}
.headLines h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 1.2;
}
.headLines p{
    margin-bottom: 24px;
    line-height: 1.5;
}

.banner{
    max-width: 19.4%;
    border: 2px solid #000;
    padding: 5px;
}
.banner li{
    margin-bottom: 10px;
}

/*footer*/
footer{
    margin: 8px auto;
    text-align: center;
}
